@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css or your main CSS file */
body {
    background-color: #f9fafb; /* Light background */
    color: #111827; /* Light text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  
  .dark body {
    background-color: #1f2937; /* Dark background */
    color: #ffffff; /* Dark text color */
  }
  
  /* Add any other styles you need for dark mode */